<ActionBar>
  <Label text="DepressApp - Nový záznam"></Label>
</ActionBar>

<ScrollView orientation="vertical">
	<WrapLayout (tap)="clearTextfieldFocus($event)">
		<FlexboxLayout height="80">
			<Label [text]="date" paddingLeft="20" paddingTop="20" textAlignment="center" width="100%" height="80" class="h1" textWrap="true"></Label>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Spánek" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="sleep === 1" boxType="circle" (tap)="onSleepChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="sleep === 2" boxType="circle" (tap)="onSleepChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="sleep === 3" boxType="circle" (tap)="onSleepChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="sleep === 4" boxType="circle" (tap)="onSleepChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Bolest hlavy" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="headache === 1" boxType="circle" (tap)="onHeadacheChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="headache === 2" boxType="circle" (tap)="onHeadacheChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="headache === 3" boxType="circle" (tap)="onHeadacheChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="headache === 4" boxType="circle" (tap)="onHeadacheChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Únava" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="tiredness === 1" boxType="circle" (tap)="onTirednessChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="tiredness === 2" boxType="circle" (tap)="onTirednessChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="tiredness === 3" boxType="circle" (tap)="onTirednessChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="tiredness === 4" boxType="circle" (tap)="onTirednessChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Chuť k jídlu" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="appetite === 1" boxType="circle" (tap)="onAppetiteChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="appetite === 2" boxType="circle" (tap)="onAppetiteChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="appetite === 3" boxType="circle" (tap)="onAppetiteChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="appetite === 4" boxType="circle" (tap)="onAppetiteChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Zácpa" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="constipation === 1" boxType="circle" (tap)="onConstipationChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="constipation === 2" boxType="circle" (tap)="onConstipationChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="constipation === 3" boxType="circle" (tap)="onConstipationChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="constipation === 4" boxType="circle" (tap)="onConstipationChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Sebeobviňující myšlenky" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="self_blame_thoughts === 1" boxType="circle" (tap)="onSelfBlameThoughtsChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="self_blame_thoughts === 2" boxType="circle" (tap)="onSelfBlameThoughtsChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="self_blame_thoughts === 3" boxType="circle" (tap)="onSelfBlameThoughtsChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="self_blame_thoughts === 4" boxType="circle" (tap)="onSelfBlameThoughtsChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Nálada" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="mood === 1" boxType="circle" (tap)="onMoodChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="mood === 2" boxType="circle" (tap)="onMoodChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="mood === 3" boxType="circle" (tap)="onMoodChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="mood === 4" boxType="circle" (tap)="onMoodChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Sebedestruktivní myšlenky" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="self_destructive_thoughts === 1" boxType="circle" (tap)="onSelfDestructiveThoughtsChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="self_destructive_thoughts === 2" boxType="circle" (tap)="onSelfDestructiveThoughtsChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="self_destructive_thoughts === 3" boxType="circle" (tap)="onSelfDestructiveThoughtsChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="self_destructive_thoughts === 4" boxType="circle" (tap)="onSelfDestructiveThoughtsChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Soustředěnost" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="concentration === 1" boxType="circle" (tap)="onConcentrationChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="concentration === 2" boxType="circle" (tap)="onConcentrationChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="concentration === 3" boxType="circle" (tap)="onConcentrationChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="concentration === 4" boxType="circle" (tap)="onConcentrationChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Tělesná nepohoda" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="physical_discomfort === 1" boxType="circle" (tap)="onPhysicalDiscomfortChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="physical_discomfort === 2" boxType="circle" (tap)="onPhysicalDiscomfortChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="physical_discomfort === 3" boxType="circle" (tap)="onPhysicalDiscomfortChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="physical_discomfort === 4" boxType="circle" (tap)="onPhysicalDiscomfortChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="80">
			<Label text="Pocit napětí" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<CheckBox text="1" [checked]="tense_feeling === 1" boxType="circle" (tap)="onTenseFeelingChange(1)"></CheckBox>
			<CheckBox text="2" [checked]="tense_feeling === 2" boxType="circle" (tap)="onTenseFeelingChange(2)"></CheckBox>
			<CheckBox text="3" [checked]="tense_feeling === 3" boxType="circle" (tap)="onTenseFeelingChange(3)"></CheckBox>
			<CheckBox text="4" [checked]="tense_feeling === 4" boxType="circle" (tap)="onTenseFeelingChange(4)"></CheckBox>
		</FlexboxLayout>
		<FlexboxLayout height="150">
			<Label text="Délka spánku a ostatní poznámky" paddingLeft="20" width="50%" height="80" class="wrapper-box" textWrap="true"></Label>
			<TextView id="myTextfield" hint="Vložte poznámku" [text]='sleep_length' (textChange)='onSleepLengthChange($event)' width="40%"></TextView>
		</FlexboxLayout>
		<StackLayout height="80" orientation="vertical" width="100%">
			<Button text="Uložit" horizontalAlignment="stretch" (tap)="saveDailyReport()" class="-primary send-button"></Button>
		</StackLayout>
	</WrapLayout>
</ScrollView>
