<TabView androidTabsPosition="bottom">
  <GridLayout *tabItem="{ title: 'Login' }">
    <page-router-outlet name="authTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: 'Nový' }">
    <page-router-outlet name="newTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: 'Přehled' }">
    <page-router-outlet name="viewTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: 'Zpráva' }">
    <page-router-outlet name="messageTab"></page-router-outlet>
  </GridLayout>
</TabView>
